/* styles.css */

.home-button {
  border: 0;
  /* border-radius: 14px; */
  width: 200px;
  height: 45px;
  font-size: 14px;
  font-weight: 600;
  background-color: azure;
}

.home-button.active {
  background-color: blue;
  color: white;
}

.home-button:hover {
  border-color: purple;
}

.wallet-button {
  margin-left: 50px;
  border: 2px solid black;
  border-radius: 14px;
  width: 200px;
  height: 45px;
  font-size: 14px;
  font-weight: 600;
}

/* 鼠标移入 边框和字体变色 */
.wallet-button:hover {  
  border-color: purple;
  color:aquamarine;
}
