@use '@gear-js/ui/variables' as *;
@use 'assets/styles/shared' as *;

.loader {
  @extend %absoluteCenter;
  font-size: $fontSizeLarge;
}
.animate::after {
  content: '.';
  width: 1em;
  display: inline-block;
  text-align: left;
  animation: ellipsis 0.1s infinite;
}